<header>
  <md-toolbar color="primary" class="mat-elevation-z3">
    <span></span>
    <span>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="" value="">
      </md-input-container>
    </span>
    <span>u</span>
    <md-toolbar-row class="nav">
      <a routerLink="/" routerLinkActive="active">Dashboard</a>
      <a routerLink="/payments" routerLinkActive="active">Přehled plateb</a>
      <a routerLink="/customers" routerLinkActive="active">Zákazníci</a>
    </md-toolbar-row>
  </md-toolbar>
</header>
<router-outlet></router-outlet>